<div class="reset-container">
  <mat-card>

    <!-- ✅ SHOW FORM -->
    <ng-container *ngIf="!isResetSuccessful">

      <mat-card-title>Reset Password</mat-card-title>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="handleSubmit()">

        <!-- Password -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New Password</mat-label>
          <input matInput
                 [type]="passwordVisible ? 'text' : 'password'"
                 formControlName="password">

          <button mat-icon-button
                  matSuffix
                  type="button"
                  (click)="passwordVisible = !passwordVisible">
            <mat-icon>
              {{ passwordVisible ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>

          <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>

          <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('pattern')">
            Invalid password format (Password should contains at lest 8 characters).
          </mat-error>
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput
                 [type]="confirmPasswordVisible ? 'text' : 'password'"
                 formControlName="confirmPassword">

          <button mat-icon-button
                  matSuffix
                  type="button"
                  (click)="confirmPasswordVisible = !confirmPasswordVisible">
            <mat-icon>
              {{ confirmPasswordVisible ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>

          <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
            Confirm password is required
          </mat-error>

          <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('mismatch')">
            Passwords do not match
          </mat-error>
        </mat-form-field>

        <button mat-raised-button
                color="primary"
                type="submit"
                class="full-width"
                [disabled]="resetPasswordForm.invalid">
          Reset Password
        </button>

      </form>

    </ng-container>


    <!-- ✅ SHOW SUCCESS MESSAGE -->
    <ng-container *ngIf="isResetSuccessful">

      <mat-card-title>Password Reset Successful</mat-card-title>

      <p class="success-message">
        {{ responseMessage }}
      </p>

      <div class="center">
        <a mat-raised-button color="primary" routerLink="/">
          Go to Home Page
        </a>
      </div>

    </ng-container>

  </mat-card>
</div>